body {
  background-color: #211F20;
}

#player {
  border: 1px solid black;
  width: fit-content;
  padding: 20px;
  bottom: 15px;
  left: 15px;
  position: absolute;
}

#player button {
  box-sizing: border-box;
  padding:10px;
  width: 50px;
  height: 50px;
  background: transparent;
}

#player > div {
  float: left;
}

#album-art {
  width: 50px;
  height: 50px;
}
