:root {
  --dark-grey: #1C1C1C;
  --grey: #737373;
  --white: #FFFFFF;
  --red: #BA3B42;
  --accent: #673840;
  font-family: 'Open Sans', sans-serif;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-in {
    100% {
      left: 0;
    }
}

body {
  background-color: var(--dark-grey);
  background-image: url(assets/img/txt.png);
  margin: 0;
  transition: fadein 5s;
}

/*GENERAL/GLOBAL CSS RULES*/

h1, h2, h3, h4, h5, h6, p, li, a {
  color: var(--white);
}

.red {
  color: var(--red);
}

a {
  text-decoration: none;
}

.clickable:hover, .clickable:hover * {
  color: var(--red);
  cursor: pointer;
}

.clickable:active, .clickable:active * {
  color: var(--accent);
  cursor: pointer;
}

.button {
  border: 1px solid var(--white);
  background-color: var(--dark-grey);
  padding: calc(10px + .1vw);
  display: block;
  text-align: center;
}

.button:hover {
  color: var(--red);
  border-color: var(--red);
  cursor: pointer;
}

.button:active {
  color: var(--accent);
  border-color: var(--accent);
}






#player {
  display: none;
}

#logo {
  width: 30vmin;
}

#navbar ul {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding: 0;
}

#navbar li {
  box-sizing: border-box;
  display: inline-block;
  flex-grow: 1;
  position: relative;
}

#navbar li * {
  margin: auto;
  display: block;
}

#navbar li>a {
  display: block;
  text-decoration: none;
  color: var(--white);
  font-size: calc(40px + .5vmin);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#navbar li.desktop {
  display: none;
  border-bottom: 2px solid var(--white);
}

#navbar li.desktop>a {
  font-size: calc(25px + .5vmin);
}

#navbar li.desktop.selected {
  border-bottom-color: var(--red);
}

#navbar li.desktop.selected>a{
  color: var(--red);
}

#navbar li:not(.selected) > a:hover {
  color: var(--red);
  cursor: pointer;
}
#navbar li:not(.selected):active {
  color: var(--accent);
}

/*Page set-up*/

div.page {
  display: none;
}

div.page.rendered{
  display: block;
  margin: 0 5vw;
}

div.page h1.title {
  color: var(--white);
  font-size: 5vmin;
}

div.page .content-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

/*Music Page*/

.page#music #album-cover-container {
  display: inline-block;
  box-sizing: border-box;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.page#music #album-cover {
  border: 1px solid var(--white);
  width: 85%;
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.page#music #album-title {
  font-size: 8vmin;
  display: inline-block;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

.page#music #track-listing {
  margin: 0;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  font-size: calc(20px + .1vw);
}

.page#music #purchase-buttons {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  justify-content: center;
  margin: 2vh 0 0;
}

.page#music #purchase-buttons .button {
  flex-grow: 1;
}


/*SONG PAGE*/

.page#song #music-back-btn, #song-title {
  align-self: center;
  font-size: calc(50px + .5vw);
  margin: 0;
  grid-row-start: 1;
  grid-row-end: 2;
}

.page#song #music-back-btn {
  grid-column-start: 1;
  grid-column-end: 2;
}

.page#song #song-title {
  grid-column-start: 2;
  grid-column-end: 4;
  text-align: center;
}

.page#song .song-content-container h1 {
  font-size: calc(40px + .4vw);
  margin:0;
}

.page#song #links-container {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.page#song #lyrics-container {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
}

.page#song #link-buttons {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.page#song #link-buttons a {
  font-size: calc(40px + .4vw);
}

.page#song #links-container h1 {
  text-align: left;
}

.page#song #song-lyrics {
  font-size: calc(14px + .4vw);
  margin: 15px 0;
}

/*TOURS PAGE*/

.page#tours .content-container {
  grid-template-columns: 50% 50%;
}

.page#tours #tour-title {
  font-size: calc(40px + 1vw);
  text-align: center;
  margin: 0;
}

.page#tours .tour-date {
  border-bottom: 2px solid var(--red);
  box-sizing: border-box;
  padding: 1vw
}

.page#tours .tour-date.selected {
  border-bottom: none;
}

.page#tours .tour-date * {
  text-shadow: #000 0px -1px 4px;
}

.page#tours .tour-date.selected * {
  color: var(--red);
}

.page#tours .tour-date * {
  text-align: center;
  margin: 0;
}

.page#tours .tour-date h1 {
  font-size: calc(15px + 1.5vw)
}

.page#tours .tour-date p {
  font-size: calc(10px + 1.5vw)
}

.page#tours .tour-date-info {

  box-sizing: border-box;
  padding: 3.5vw;
  grid-column-start: 1;
  grid-column-end: 3;

  display: grid;
  grid-template-columns: 50% 50%
}

.page#tours .tour-date-location, .tour-date-time {
  margin: 0;
  text-align: left;
  font-size: calc(10px + 1.3vw);
  grid-column-start: 1;
  grid-column-end: 3;
}

.page#tours .tour-date-info .button-container {
  margin-top: 2vw;
  display: flex;
  justify-content: space-around;
  grid-column-start: 1;
  grid-column-end: 3;
}

.page#tours .tour-date-info .button-container .button{
  align-self: baseline;
  font-size: calc(10px + .5vw);
}




/*DESKTOP ONLY*/

@media only screen and (min-width: 768px) {

  #navbar {
    margin: 0 0 40px;
  }

  #navbar .mobile {
    display: none;
  }

  #navbar li.desktop {
    display: inline-block;
  }

  /*Music Page*/

  .page#music #album-cover-container {
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .page#music #album-cover {
    width: 70%;
  }

  .page#music #album-title {
    grid-column-start: 3;
    margin: 0;
  }

  .page#music #track-listing {
    grid-column-start: 3;
    grid-column-end: 5;
    font-size: 1.4vw;
  }

  .page#music #purchase-buttons {
    justify-content: space-around;
  }

  .page#music #purchase-buttons .button {
    flex-grow: 0;
    width: 5vw;
  }

  /*SONG PAGE*/

  .page#song #link-buttons {
    justify-content: space-around;
  }

  .page#song #lyrics-container {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .page#song #links-container {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .page#song #links-container h1 {
    text-align: center;
  }

  /*TOURS PAGE*/

  .page#tours .content-container {
    grid-template-columns: 25% 25% 25% 25%;
  }

  .page#tours .tour-date-info {
    grid-column-start: 1;
    grid-column-end: 5;
  }

  .page#tours .tour-date-info .button-container {
    margin: 0;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 1;
  }

  .page#tours .tour-date-location {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 1;
  }








    #player {
      /*display: block;*/
      border: 1px solid black;
      width: fit-content;
      padding: 20px;
      bottom: 15px;
      left: 15px;
      position: absolute;
    }

    #player button {
      box-sizing: border-box;
      padding:10px;
      width: 50px;
      height: 50px;
      background: transparent;
    }

    #player > div {
      float: left;
    }

    #album-art {
      width: 50px;
      height: 50px;
    }
}
