:root {
  --dark-grey: #1C1C1C;
  --grey: #737373;
  --white: #FFFFFF;
  --red: #BA3B42;
  --accent: #673840;
  font-family: 'Open Sans', sans-serif;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes slide-in {
    100% {
      left: 0;
    }
}

@keyframes slide-in {
    100% {
      left: 0;
    }
}

body {
  background-color: var(--dark-grey);
  background-image: url(assets/img/txt.png);
  margin: 0;
  -webkit-transition: fadein 5s;
  -o-transition: fadein 5s;
  transition: fadein 5s;
}

h1, h2, h3, h4, h5, h6, p, li, a.button {
  color: var(--white);
}

#player {
  display: none;
}

#logo {
  width: 30vmin;
}

#navbar ul {
  list-style: none;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

#navbar li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
}

#navbar li * {
  margin: auto;
  display: block;
}

#navbar li>a {
  display: block;
  text-decoration: none;
  color: var(--white);
  font-size: calc(40px + .5vmin);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#navbar li.desktop {
  display: none;
  border-bottom: 2px solid var(--white);
}

#navbar li.desktop>a {
  font-size: calc(25px + .5vmin);
}

#navbar li.desktop.selected {
  border-bottom-color: var(--red);
}

#navbar li.desktop.selected>a{
  color: var(--red);
}

#navbar li:not(.selected) > a:hover {
  color: var(--red);
  cursor: pointer;
}
#navbar li:not(.selected):active {
  color: var(--accent);
}

/*Page set-up*/

div.page {
  display: none;
}

div.page.rendered{
  display: block;
  margin: 0 5vw;
}

div.page h1.title {
  color: var(--white);
  font-size: 5vmin;
}

div.page .content-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-row-gap: 10px;
}

/*Music Page*/

.page#music #album-cover-container {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.page#music #album-cover {
  border: 1px solid var(--white);
  width: 85%;
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.page#music #album-title {
  font-size: 8vmin;
  display: inline-block;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

.page#music #track-listing {
  margin: 0;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  font-size: 2.8vw;
}

.page#music #purchase-buttons {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2vh 0 0;
}

.page#music #purchase-buttons .button {
  border: 1px solid var(--white);
  background-color: var(--dark-grey);
  padding: 15px;
  display: block;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  text-decoration: none;
}

.page#music #purchase-buttons .button:hover {
  color: var(--red);
  border-color: var(--red);
  cursor: pointer;
}

.page#music #purchase-buttons .button:active {
  color: var(--accent);
  border-color: var(--accent);
}









/*DESKTOP ONLY*/

@media only screen and (min-width: 768px) {

  #navbar {
    margin: 0 0 40px;
  }

  #navbar .mobile {
    display: none;
  }

  #navbar li.desktop {
    display: inline-block;
  }

  /*Music Page*/

  .page#music #album-cover-container {
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .page#music #album-cover {
    width: 70%;
  }

  .page#music #album-title {
    grid-column-start: 3;
    margin: 0;
  }

  .page#music #track-listing {
    grid-column-start: 3;
    grid-column-end: 5;
    font-size: 1.4vw;
  }

  .page#music #purchase-buttons {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .page#music #purchase-buttons .button {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 5vw;
  }








    #player {
      /*display: block;*/
      border: 1px solid black;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      padding: 20px;
      bottom: 15px;
      left: 15px;
      position: absolute;
    }

    #player button {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding:10px;
      width: 50px;
      height: 50px;
      background: transparent;
    }

    #player > div {
      float: left;
    }

    #album-art {
      width: 50px;
      height: 50px;
    }
}
