@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

/*GLOBAL RULES*/

:root {
  --black: #0B0C10;
  --grey_d: #1F2833;
  --grey_l: #D1E8E2;
  --blue_l: #66FCF1;
  --blue_d: #45A29E;
}

* {
  color: var(--grey_l);
  font-family: 'Josefin Sans', sans-serif;
}

body {
  background-color: var(--black);
}

h1 {
  color: var(--blue_l);
  font-size: calc(50px + 1.5vw);
}
/*Other h values*/
p, a {
  font-size: calc(20px + 0.5vw);
}

.centre {
  text-align: center;
}

#sidebar {
  height: 100%;
  width: 8vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  border-right: 1px solid var(--blue_d);
}

#sidebar .sidebar-link {
  width: 100%;
  height: 100%;
}



#main {
  margin-left: 8vw;
}
